*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}
html{
    --primary: #174DBA;
    --gray: #EFF0F3;
    --white:#FFFFFF;
    --dark: #505050;
    --newgray:#eff0f311;
    font-family: 'helveticaMedium',sans-serif;
}
body{
    height: 100vh;

}
.content{
    background-color: var(--gray);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px ;

}
header{
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--white);
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    border-radius: 15px;
}
img[src="images/logo.png"]{
    display: block;
    width: 200px;
    padding: 10px;

}
.acessTitle{
    font-size: 32px;
    padding: 10px 0 20px 0;
    color: var(--primary);
}

.loginArea{
    display: flex;
    flex-direction: column;
    padding: 20px 20px ;
    color: var(--primary);
}
.buttonAreas{
    display: grid;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom:40px ;
    font-size: 16px;

}
input{
    height: 40px;
    border: var(--primary) solid 1px ;
    border-radius: 10px;
    width: 100%;
}
input[type= "text"],input[type="password"]{
    padding-left: 10px;
    align-self: center;
}
input[type="radio"]{
    width: 20px;
    margin-right: 5px;
}
button{
    height: 40px;
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--white);
    margin-bottom: 10px;
    font-family: 'helveticaMedium',sans-serif;
    align-items: center;
    width: 300px;
    align-self: center;
}
h3{
    font-size: 16px;
    font-weight: lighter;
    align-self: center;
}
.loginItens{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/*Area de Cadastro*/

.isolatedInfo{
    color: lightgray;
    font-weight: lighter;
    font-size: 15px;
}

.registerCard{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    padding: 0 20px;
}


.infoArea{
    display: flex;
    flex-direction: column;
    color: var(--primary);
    width: 100%;
    font-size: 16px;

}
.inputItens{
    display: flex;
    flex-direction:column;
    width: 100%;
    justify-content: space-between;
}
.itens{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
.checkboxArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
.radio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.radioItens{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}

/* Area do Usuario */

.localUsers{
    max-width: 1750px;
    height: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    margin-bottom: 40px;
    overflow-y:scroll;
}

.cards{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    
}
.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 100%;
    gap: 15px;
    color: var(--primary) ;
}   
img[src = "images/profile2.jpg"]{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.editLink{
    padding: 10px 10px 0 0;
    align-self: flex-end;   
}
img[src = "images/edit-icon.png"]{
    width: 30px;
    align-self: flex-end;


}
.userTitle{
    margin: 50px 0;
    font-size: 48px;
    color: var(--primary);
    align-self: flex-start;
    padding-left: 90px;

}
.userInfo{
    display: flex;
    align-self: flex-end ;
    padding-right:100px ;
    color: var(--dark);
    font-weight: lighter;
}
.userEmail{
    color: var(--dark);
    font-size:16px;
    font-weight: 600;

}

/* Medias */

@media (min-width: 701px) {
    .card{
        width: 325px;
        height: 400px;
    }
    
    .registerCard{
        width: 700px;
        
    }
    .infoArea{
        width:625px;
    }
    .inputItens{
        flex-direction: row;
        padding-bottom: 20px;
    }
    .itens{
        width: 48%;
    }
    .checkboxArea{
        width:48%;
    }
    .radio{
        justify-content: space-around;
    }
    input[type = "radio"]{
        width: 13px;
    }
    .localUsers{
        overflow-y: none;
    }
    .cards{
        width: 532px;
    }

    
}
@font-face {
    font-family:'helveticaMedium';
    src: url('PragmaticaMedium.otf') format('opentype');
    font-weight: normal;
    font-style: medium ;
}
